.kotakangka, .kotakhuruf{
    height: 350px;
    margin: 10px;
    
}
.kotakangka{
    background: red;
    color: white;
}
.kotakhuruf{
    background: skyblue;
}
.nilaiangka, .nilaihuruf{
    height: 200px;
     font-size: 100pt; 
}
